/* General rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: gray;
}

/* typography */
h2{
  margin-bottom: 15px;
  font-size: 180%;
  color: #000;
}

/* UTILITIES */
.container{
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after{
  content:"";
  display: table;
  clear:both;
}

.button{
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 23px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.button-blue{
 padding: 5px 10px;
}

.button-large{
  padding:20px;
}

.menu-inline .botton:hover{
  color:white;
}

.button-green{
  background-color: #7bbb00;
  border:0;
}

.button-default{
  padding: 5px 10px;
}

.w-50{
  width: 50%;
}

.col-3{
  float: left;
  width: calc(100% / 3);
  padding: 0 2%;
}

/* Sezione Header */
#main-header{
  height: 560px;
  background-color: #0b3259;
  background-image: url(../img/background-header.png);
  background-position: 115% 110%;
  background-size: 1000px;
  background-repeat: no-repeat;
}

.header-nav{
  height: 80px;
  font-size: 80%;
  text-transform: uppercase;
  line-height: 80px;
}

.header-nav a{
  text-decoration: none;
  color: white;
}

.header-nav-center a:hover,
.header-nav-center a:focus{
  color: green;
}

.header-nav .header-logo,
.header-nav .header-nav-center,
.header-nav .header-nav-right{
  float: left;
}

.header-nav .header-logo{
  width: 15%;
  margin-top: 10px;
}

.header-nav .header-nav-center{
  width: 45%;
}

.header-nav .header-nav-right{
  width: 40%;
  text-align: right;
}

/* Menu */
.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
  padding: 0 10px;
}

/* jumbotron */
.jumbotron{
  position: relative;
  height: 480px;
}

.jumbotron-text{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
}

.jumbotron-text h1{
  font-size: 350%;
  color: white;
  margin-bottom: 30px;
}
/* Efficency */

#efficency{
  padding: 40px 8%;
  background-color: #d3d3d3;
  text-align: center;
}

#efficency p {
  font-size: 20px;
}

/* info */
#info{
  margin: 0 1%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}

.info-data-img{
  height: 150px;
  margin-bottom: 20px;
}

.info-data-heading{
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #7bbb00;
  font-size: 180%;
}

.info-data-heading::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  height: 1px;
  background-color: gray;
  transform: translateX(-50%);
}

.info-data-text{
  font-size: 120%;
  line-height: 150%;
}
